$sand: #C5C6C7;
$navy: #1F2833;
$void: #0B0C10;
$striking: #66FCF1;
$pure: #45A29E;

.toggle-button {

    height: 2rem;
    width: 2.3rem;
    background: transparent;
    cursor: pointer;
    border: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-around;
    


    &__line {
        background-color: $pure;
        width: 2.5rem;
        height: 2px;

    }

    
}
.toggle-button:focus, :active {

  outline: none;
  
    
}