$sand: #C5C6C7;
$navy: #1F2833;
$void: #0B0C10;
$striking: #66FCF1;
$pure: #45A29E;

.sideNav {
    height: 100vh;
    background-color: $void;
    box-shadow: 2px 0px 2px $pure;
    position: fixed;
    top: 0;
    left: 0;
    width: 80vw;
    max-width: 30rem;
    z-index: 2;

    &__list {

        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 3rem;
        height: 100vh;
       

        li {
            margin: 1.5rem 0;
        }

        &__item {

            text-decoration: none;
            color: $sand;
            font-size: 1.2rem;
    
        }
    
        &__item:hover, &__item:active {
    
            color: $pure;
        }

    }

   

}