$sand: #c5c6c7;
$navy: #1f2833;
$void: #1b1b1b;
$pure: #ffbf50;

.HomePage {
  margin-top: 10rem;
  visibility: hidden;

  &__title {
    font-size: 2.3rem;
    margin-top: 6rem;
    text-align: center;
    color: $sand;
    font-family: Work Sans;
    font-weight: 700;

    @media only screen and(max-width: 410px) {
      font-size: 1.4rem;
    }
    @media only screen and(max-width: 315px) {
      font-size: 1.2rem;
    }

    .dev {
      color: $pure;
    }
  }

  &__section {
    padding: 1.5rem;
    margin-bottom: 1rem;

    &__about {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;

      &__img-container {
        width: 220px;
        height: 340px;
        overflow: hidden;
        margin-right: 3rem;
        border-bottom: 4px solid $pure;

        &__img {
          width: 100%;
          height: auto;
        }

        @media only screen and(max-width: 719px) {
          margin-right: 0rem;
        }
      }

      &__desc {
        width: 30rem;
        margin-top: 5rem;
        @media only screen and(max-width:750px) {
          margin-top: 2rem;
        }

        &__text {
          font-size: 1.3rem;
          margin-bottom: 2rem;
          color: $sand;
          @media only screen and(max-width: 410px) {
            font-size: 1.1rem;
          }

          .strong {
            font-weight: 700;
            color: $pure;
          }
        }
      }
    }
  }

  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__title {
      min-width: 5rem;
      color: $sand;
      margin-bottom: 1rem;
      font-family: Work Sans;
      font-size: 1.6rem;
    }

    &__container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      min-width: 7rem;

      &__link {
        fill: $sand;

        &:hover {
          fill: $pure;
        }
      }
    }
  }

  .footer {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-flow: row wrap;
    &__copy {
      display: block;
      margin: auto;
      width: auto;
      font-size: 0.8rem;
      color: grey;
    }
  }
}
